<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><a class="a2" href="./third.html">this is second page,click go to third page!!! </a></h1>
    <!--image resource-->
    <!--for js-->
    <img src="" alt="" id="i2">
    <!--for css-->
    <span id="s2"></span>
    <!--for html 我是'小明'-->
    <img src="../assets/b.png" alt="">

    <!--通过下面这种方式引入图片资源也是可以的，
        但感觉很别扭，还是希望通过传统的方式引入-->
    <!--<img src="${ require('../assets/b.png') }">-->
</body>
</html>